
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav bar</title>
</head>
<style>
    /* ! nav bar css */

nav{
    background-color: black;
    color: white;
   
    
}
ul{
     width: 100%;
    height: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
</style>
<body>
    <nav>
        <ul>
            <li>home</li>
            <li>contact</li>
            <li>blog</li>
            <li>login</li>
            <li>About</li>
        </ul>
    </nav>
</body>
</html>